<div class="d-flex text-center">
    <a href="/dashboard/posts" class="btn btn-md btn-primary fw-bold flex-grow-1 rounded-0">Posts</a>
    <a href="/dashboard/comments" class="btn btn-md btn-primary fw-bold flex-grow-1 rounded-0">Comments</a>
</div>