<footer class="mastfoot mt-auto">
    <div class="inner">
      <p>Authentication based website created by <a class="link" href="https://github.com/MBright90/">MBright90</a></p>
    </div>
</footer>
</body>
</html>