<%- include("./partials/head") %>
<body>

<div class="site-container full-screen d-flex h-100 mx-auto flex-column">
    <%- include("./partials/header") %>
    <main class="flex-grow-1">
        <%- include("./partials/userNav") %>
        <div class="container mx-1 my-2">
            
            <% if (!posts || posts.length <= 0) { %>

                <div class="no-posts d-flex flex-column align-items-center my-5 mx-2">
                    <h1 class="neon-text fw-bold">Uh oh</h1>
                    <p class="lead fw-bold">It appears you haven't made any posts yet</p>
                    <p>Click <a class="link" href="/posts/new">here</a> to create your first.</p>
                </div>

            <% } %>

        </div>
    </main>
    <%- include("./partials/foot") %>
</div>

</body>