<%- include("./partials/head") %>

<body class="text-center">

<div class="site-container d-flex h-100 mx-auto flex-column">
    <%- include("./partials/header") %>
    <main class="inner d-flex flex-column align-items-center">
      <h1 class="landing-heading">Welcome</h1>
      <p class="lead">Welcome to <span class="fw-bold">Members Only</span>, the exclusive platform where you can share your thoughts, ideas, and stories with a like-minded community. Join us to connect and express yourself freely in a space designed just for members.</p>
      <p class="lead">
        <a href="/log-in" class="btn btn-lg btn-primary">Sign in</a> <span class="mx-2">or</span> 
        <a href="/register" class="btn btn-lg btn-primary">Register</a>
      </p>
      <p>
        Don't want to sign up? Sign in as a <a href="/guest-log-in" method="POST" class="link">Guest</a>
      </p>
    </main>
    <%- include("./partials/foot") %>
</div>
