body {
    background:
      repeating-conic-gradient(#f2e9e1 0 12.5%,#99b2b7 0 25%)
      0/100px 100px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body > div {
    background-color: #333; 
}

header {
    color: #eee;
    margin: 0 auto;
    padding: 10px;
    width: 100%;
}

header h3 {
    animation: neon-shimmer 1s infinite alternate;
}

.header-logo {
    color: #eee;
    height: 30px;
    padding-bottom: 5px;
    width: 30px;
}

header .inner {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

header a {
    border: 2px solid transparent;
    color: #eee;

    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -o-transition: .2s;
}

footer {
    color: #eee;
    margin: 5px auto 5px auto;
    padding: 5px;
    text-align: center;
}

.link {
    font-weight: bold;
    text-decoration: none;
}

.link-animation {
    padding: .1em;
    background: 
    linear-gradient(#0d6efd 0 0) no-repeat
    var(--p,0) 100%/var(--p, 0) .1em;
    
    transition: 0.4s, background-position 0s;
    -webkit-transition: 0.4s, background-position 0s;
    -moz-transition: 0.4s, background-position 0s;
    -o-transition: 0.4s, background-position 0s;
}
  
.link-animation:hover {
    --p: 100%;
}

.site-container {
    color: #eee;
    flex: 1;
    max-width: 95%;
    margin-top: auto;
    width: 55em
}

.site-container main {
    margin: 10px;
}

.welcome-container .btn {
    width: 120px;
}

.mx-minus {
    margin: 0 -10px;
}

/* Landing */

.landing-heading {
    animation: neon-shimmer 1.5s infinite alternate;
    border-radius: 20px;
    border: 3px solid #eee;
    margin-bottom: 50px;
    padding: 30px 50px;
    width: fit-content;
    box-shadow: 
      0 0 .2rem #fff,
      0 0 .2rem #fff,
      0 0 2rem #0d6efd,
      0 0 0.8rem #0D6EFE,
      0 0 8rem #0d6efd,
      inset 0 0 1.3rem #0D6EFD;
}

/* Forms */

.form-signin, .form-register, .form-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.form-signin input {
    margin: 0 20px;
    max-width: 400px;
}

.form-signin input:first-of-type {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-top: 30px;
}

.form-signin input:last-of-type {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-bottom: 30px;
}

.form-register > div:first-of-type {
    margin-top: 30px;
}

.form-signin .btn {
    border-radius: 5px;
}

.form-post .control-wrapper {
    flex: 1;
    min-width: 300px;
    width: 80%;
}

.form-post textarea {
    min-height: 100px;
    height: 300px;
}

.form-title {
    animation: neon-shimmer 1s infinite alternate;
}

/* Home */

.nav-btn {
    align-items: center;
    border-radius: 0;
    display: flex;
    flex: 1;
    justify-content: center;
}

/* Screen reader */

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    border: 0;
}

/* Animations */

@keyframes neon-shimmer {
    0% {
        text-shadow:
            0 0 .1rem #fff,
            0 0 .1rem #fff,
            0 0 1rem #0d6efd,
            0 0 0.4rem #0D6EFE,
            0 0 1rem #0d6efd;
    }

    100% {
        text-shadow: 
            0 0 .2rem #fff,
            0 0 .2rem #fff,
            0 0 0.5rem #0d6efd,
            0 0 0.2rem #0D6EFE,
            0 0 0.5rem #0d6efd;
    }
}
