
<form class="d-flex flex-column align-items-end m-3 p-3" action="/comments/add-comment" method="POST">
    <input type="hidden" name="postId" id="postId" value="<%=post.id%>">
    <label for="username" class="sr-only">Comment input</label>
    <textarea type="text" id="content" name="content" class="form-control" placeholder="Write comment..." required></textarea>
    <button type="submit" class="btn btn-primary mt-2">Publish</a>
</form>