<%- include("../partials/head") %>

<body>
    <h1>Register</h1>
    <form action="/register" method="POST">
        <div>
            <label for="username">Username: </label>
            <input type="text" name="username" id="username"/>
        </div>
        <br>
        <div>
            <label for="password">Password: </label>
            <input type="password" name="password" id="password"/>
        </div>
        <br>
        <div>
            <label for="first_name">First name: </label>
            <input type="text" name="first_name" id="first_name"/>
        </div>
        <br>
        <div>
            <label for="last_name">Last name: </label>
            <input type="text" name="last_name" id="last_name"/>
        </div>
        <br>
        <div>
            <label for="membership">Membership type: </label>
            <label>Paid <input type="radio" name="membership" id="paid-membership" value="paid"></label>
            <label>Free <input type="radio" name="membership" id="free-membership" value="free"></label>
        </div>
        <br>
        <button type="submit">Log in</button>
    </form>
</body>

<%- include("../partials/foot") %>